section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.util-box {
    width: 90%;
    height: 500px;
    margin-left: 50px;
    margin-top: 50px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid rgb(165, 165, 165);
    resize: none;
    font-size: 18px;
}

button {
    padding: 10px 15px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background-color: rgb(218, 218, 218);
    cursor: not-allowed;
    margin-top: 15px;
}

.summary-box {
    margin-top: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.preview-box {
    margin-top: 15px;
    line-height: 1.5;
    margin-bottom: 15px;
}