.hero {
    width: 100%;
    height: 80vh;
    background: url('../images/hero.jpg');
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 15px black;
}

.hero p {
    font-size: 25px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 15px black;
}

.hero a {
    padding: 15px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 20px;
    margin-top: 15px;
}