@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}



.logo-font {
    font-family: "Quintessential", serif;
    font-weight: 900;
    font-style: normal;
    margin: 0 0 0 10px;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(202, 255, 202);
}

.logo-box {
    display: flex;
    align-items: flex-end;
}

.nav-box a {
    text-decoration: none;
    color: rgb(61, 61, 61);
    padding: 10px 15px;
    border-radius: 20px;
    transition: all 0.3s;
    margin-right: 5px;
    font-weight: 700;
}

.nav-box {
    display: flex;
    align-items: center;
}

.nav-box a:hover {
    background-color: rgba(216, 214, 214, 0.99);
}

.ln-btn {
    background-color: green;
    color: white !important;
    font-weight: 700;
}

.ln-btn:hover {
    background-color: rgb(0, 100, 0) !important;
}


.toggle {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    cursor: pointer;
}
/* .heading{

    font-size: 900;

}
h1{
    font-weight: 30;
}
p{
    font-weight: 600;
} */
